<html>
    <body>
        <form action="/gravar" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Insira o nome"><br><br>
            <label for="email">Email:</label>
            <input type="text" name="email" placeholder="Insira o email"><br><br>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" placeholder="Insira a senha"><br><br>
            <input type="submit" value="Enviar">
            <button><a target="_blank" href='/templates/lista.html'>Listar dados</a></button>
        </form>
    </body>
</html>