<html>
  <body>
    <form action="/gravaratendente" method="POST">
      <label for="cpf">cpf</label><br>
      <input type="number" name="cpf" />
      <label for="nome">nome</label><br>
      <input type="text" name="nome" />
      <label for="sobrenome">sobrenome</label><br>
      <input type="text" name="sobrenome" />
      <label for="rg">rg</label><br>
      <input type="number" name="rg" />
      <label for="endereco">endereco</label><br>
      <input type="text" name="endereco" />
      <label for="salario">salario</label><br>
      <input type="number" name="salario" />
      <label for="telefone">telefone</label><br>
      <input type="number" name="telefone" />
      <label for="enviar">enviar</label><br>
      <input type="submit" value="enviar" />
    </form>
  </body>
</html>
