<HTML>
<form action="/gravarmanobrista" method="POST">
    <label for="cnh">CNH:</label><br>
    <input type="number" name="cnh" /><br>
    <label for="nome">Nome:</label><br>
    <input type="text" name="nome" /><br>
    <label for="sobrenome">Sobrenome:</label><br>
    <input type="text" name="sobrenome" /><br>
    <label for="rg">RG:</label><br>
    <input type="number" name="rg" /><br>
    <label for="endereco">Endereço:</label><br>
    <input type="text" name="endereco" /><br>
    <label for="salario">Salário:</label><br>
    <input type="number" name="salario" /><br>
    <label for="telefone">Telefone:</label><br>
    <input type="number" name="telefone" /><br>
    <br><br>
    <input type="submit" value="enviar" />
</form>

</HTML>