<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="static/style.css" />
<HTML lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Oasis Park - Atendente</title>
</head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Oasis Park</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Cadastrar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/atendente">Atendente</a>
                  <a class="dropdown-item" href="/cliente">Cliente</a>
                  <!-- <div class="dropdown-divider"></div> -->
                  <a class="dropdown-item" href="/manobrista">Manobrista</a>
                  <a class="dropdown-item" href="/vaga">Vaga</a>
                  <a class="dropdown-item" href="/veiculo">Veículo</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
  </header> 

  <div class="col-8 m-auto pt-3 pb-2 text-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >Cadastrar</button>
  </div>

    <div class="container">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr align="center">
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">CPF</th>
            <th scope="col">Telefone</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for item in datas %}
          <tr>
            <th scope="row">{{item[0]}}</th>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[6]}}</td>
            <td>
              <a href="/listaratendente/{{item[0]}}/" class="btn btn-dark">VIEW</a>
              <a href="/alteraratendente/{{item[0]}}/" class="btn btn-primary">UPDATE</a>
              <a href="/deletaratendente/{{item[0]}}/" class="btn btn-danger btnDel">DELETE</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>






<!-- 
    <table>
      <tr><td> Listar Atendentes </td></tr>
      
      {% for item in datas %}
      <tr>
          <td>{{item[0]}}</td>
          <td>{{item[1]}}</td>
          <td>{{item[2]}}</td>
          <td>{{item[3]}}</td>
          <td>{{item[4]}}</td>
          <td>{{item[5]}}</td>
          <td>{{item[6]}}</td>
      </tr>
      {% endfor %}
      </table> -->















    <form action="/gravaratendente" method="POST" id="insert-atendente">
      
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="CadastroAtendentelbl">Cadastre um atendente</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
                <div class="row">
                    <div class="col-12 col-sm-12">
                      <label for="cpfAtendente" class="col-form-label">CPF:</label>
                      <input type="number" class="form-control col-md-4 .ml-auto" id="cpfAtendente" name="cpfAtendente">
                    </div>
                  </div>
                  <div class="row">                  
                  <div class="col-6 col-sm-6">
                    <label for="nomeAtendente" class="col-form-label">Nome:</label>
                    <input type="text" class="form-control" name="nomeAtendente" id="nomeAtendente">
                  </div>

                  <div class="col-6 col-sm-6">
                    <label for="sobrenomeAtendente" class="col-form-label">Sobrenome:</label>
                    <input type="text" class="form-control" name="sobrenomeAtendente" id="sobrenomeAtendente">
                  </div>
                  
                </div>
                <div class="row">                  
                  <div class="col-6 col-sm-6">
                    <label for="rgAtendente" class="col-form-label">RG:</label>
                    <input type="number" class="form-control" name="rgAtendente" id="rgAtendente">
                  </div>

                  <div class="col-6 col-sm-6">
                    <label for="enderecoAtendente" class="col-form-label">Endereço:</label>
                    <input type="text" class="form-control" name="enderecoAtendente" id="enderecoAtendente">
                  </div>
                  
                </div>
                <div class="row">                  
                  <div class="col-6 col-sm-6">
                    <label for="salarioAtendente" class="col-form-label">Salário:</label>
                    <input type="number" class="form-control" name="salarioAtendente" id="salarioAtendente">
                  </div>

                  <div class="col-6 col-sm-6">
                    <label for="telefoneAtendente" class="col-form-label">Telefone:</label>
                    <input type="number" class="form-control" name="telefoneAtendente" id="telefoneAtendente">
                  </div>                
                </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <input type="submit" class="btn btn-primary" value="Cadastrar">
            </div>
          </div>
        </div>
      </div>
  </form>


    <!-- <form action="/gravaratendente" method="POST">
      <label for="cpf">CPF:</label><br>
      <input type="number" name="cpf" /><br>
      <label for="nome">Nome:</label><br>
      <input type="text" name="nome" /><br>
      <label for="sobrenome">Sobrenome:</label><br>
      <input type="text" name="sobrenome" /><br>
      <label for="rg">RG:</label><br>
      <input type="number" name="rg" /><br>
      <label for="endereco">Endereço:</label><br>
      <input type="text" name="endereco" /><br>
      <label for="salario">Salário:</label><br>
      <input type="number" name="salario" /><br>
      <label for="telefone">Telefone:</label><br>
      <input type="number" name="telefone" /><br>
      <br><br>
      <input type="submit" value="enviar" />
    </form> -->

    <script src="/static/javascript.js"></script>
  </body>
</HTML>



<!-- Scrip para chamar o modal -->
<script>
  $('#exampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('whatever') // Extract info from data-* attributes
    var modal = $(this)
    modal.find('.modal-title').text('Cadastrar Atendente')
    modal.find('.modal-body input').val(recipient)
  });
</script>
