<HTML>
<form action="/gravarveiculo" method="POST">
  <label for="placa">Placa:</label><br>
  <input type="text" name="placa" /><br>
  <label for="cor">Cor:</label><br>
  <input type="text" name="cor" /><br>
  <label for="modelo">Modelo:</label><br>
  <input type="text" name="modelo" /><br>
  <label for="cpfcliente">CPF Cliente</label><br>
  <input type="number" name="cpfcliente" /><br>
  <label for="numerovaga">Número vaga:</label><br>
  <input type="number" name="numerovaga" /><br>
  <label for="entrada">Entrada:</label><br>
  <input type="number" name="entrada" /><br>
  <label for="saida">Saída:</label><br>
  <input type="number" name="saida" /><br>
  <label for="valor">Valor:</label><br>
  <input type="text" name="valor" /><br>
  <label for="cpfatendente">CPF Atendente:</label><br>
  <input type="number" name="cpfatendente" /><br>
  <label for="comprovante">Comprovante:</label><br>
  <input type="text" name="comprovante" /><br>
  <br><br>
  <input type="submit" value="enviar" />
</form>

</HTML>