<!DOCTYPE html>
<HTML lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Oasis Park</title>
</head>
<body>
    <header>
        <div class="pages">
            <div class="atendente">
                <a href="/atendente" title="CADASTRO: Atendente"><strong>CADASTRO: Atendente</strong></a>
            </div>
            <div class="cliente">
                <a href="/cliente" title="CADASTRO: Cliente"><strong>CADASTRO: Cliente</strong></a>
            </div>
        </div>
    </header>
</body>
</HTML>
